:root {
    --primary-light-text-color: #ffffff;
    --primary-dark-text-button-color: #5E4FA3;

    --primary-dark-transparent-color: #594a9eba;
    --primary-dark-color: #594a9e;


    --input-bg-color: #6150a8;

    --highlight-color: #09EFAF;
    --highlight-color-light-shade: #B0FCE7;

    --light-background-color: #ab9ee9;

    --scrollbarBG: #594a9e;
    --thumbBG: #ab9ee9;


}

html, body, div {
    scrollbar-width: auto;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body {
    font-family: bungee;
    color: var(--primary-light-text-color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: unset;
    overflow: hidden;
    background-position: top;
    background-repeat: repeat-y;
    background-color: #eaeff6;
    background-size:125%;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--thumbBG);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8178B0FF;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}


/* headings */

.h1 {
    font-size: calc(20px + 1vw);
    line-height: calc(25px + 1vw);
}

.h2 {
    font-size: calc(15px + 1vw);
    line-height: calc(18px + 1vw);
    width: max-content;
    text-align: center;
}

.h3 {
    font-size: calc(15px + 1vw);
    line-height: calc(18px + 1vw);
}

.m-1vw-v {
    margin: 1vw 0;
}

.m-1vw-h {
    margin: 0 1vw;
}

.m-1vw {
    margin: 1vw;
}

.m-2vw {
    margin: 2vw;
}

.m-10px-v {
    margin: 10px 0;
}

.m-10px {
    margin: 10px;
}

.m-5px {
    margin: 5px;
}

.plain-btn {
    background-color: transparent;
    position: relative;
    display: flex;
    border: none;
    width: min-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    appearance: none;
    padding: 0;
    cursor: pointer;
    font-family: bungee;
    animation: opIn 0.3s linear;
    transition: transform 0.2s ease-in-out;
    color: var(--primary-dark-text-button-color);
    user-select: none;
}

.plain-btn a {
    color: inherit;
    text-decoration: none;
}

/* main button */

.main-button {
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 11px;
    border: none;
    width: min-content;
    font-family: bungee;
    color: var(--primary-dark-text-button-color);
    font-size: min(max(14px, 3vw), 25px);
    line-height: min(max(14px, 3vw), 25px);
    box-sizing: border-box;
    box-shadow: rgb(84 70 14) 2.95px 2.95px 0.6px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    appearance: none;
    padding: 8px 12px;
    cursor: pointer;
    animation: opIn 0.3s linear;
    transition: transform 0.2s ease-in-out;
    user-select: none;
}

.main-button.small {
    font-size: calc(6px + 0.55vw);
    line-height: calc(8px + 0.55vw);
}

.main-button:not(.disabled):not(.disabled-shy):active {
    transform: scale(0.95);
}


.main-button:not(.disabled):not(.disabled-shy):hover {
    transform: scale(1.05);
}

.plain-btn:not(.disabled-shy):hover {
    transform: scale(1.05);
}

.plain-btn:not(.disabled-shy):active {
    transform: scale(0.95);
}

.main-button.disabled {
    opacity: 0.65;
    cursor: unset;
}

.disabled-shy {
    opacity: 0.99;
    cursor: unset;
}

.main-button.overflow-allowed {
    overflow: visible;
}

.main-button-placeholder {
    color: transparent !important;
    background-color: transparent;
    box-shadow: unset;
    cursor: unset;
    max-height: 0px;
    padding: 0;
    animation: plshrink 0.3s linear;
    z-index: -1;
}

@keyframes plshrink {
    from {
        max-height: 50px;
        padding: 10px 15px;
    }
    to {
        max-height: 0;
        padding: 0;
        height: 0;
    }
}

/* resuable animations */
@keyframes opIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* overlay css */
.overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.global-notification {
    background-color: #5E4FA3;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    justify-self: center;
    font-size: 12px;
    line-height: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    animation: notificationSlideIn 0.3s ease-in-out;
    top: 50px;
}

@keyframes notificationSlideIn {
    from {
        top: -50px;
    }
    to {
        top: 50px;
    }
}

/** timer  **/
.timer-layout {
    width: min-content;
}


.pretty-timer {
    background-color: #4430a0ba;
    border-radius: 15px;
    border: 2px rgba(190, 180, 233, 0.8) solid;
    font-family: bungee;
    color: var(--primary-light-text-color);
    font-size: min(max(15px, 4vh), 25px);
    line-height: min(max(15px, 4vh), 25px);
    text-align: center;
    margin: 1vw 0;
    padding: calc(5px + 0.2vw);
    overflow: hidden;
    box-sizing: border-box;

}

@media only screen and (max-aspect-ratio: 1/1) {
    .pretty-timer {

    }
}

.plain-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
}

.language-selector-absolute {
    position: absolute !important;
    bottom: 75px !important;
    right: 2vw;
    width: 125px;
    font-family: bungee;
    background-color: #4430a0ba;
    border: none;
    border-radius: 15px;
    color: white;
    -webkit-appearance: none;
    -moz-text-align-last: center;
    text-align-last: center;
    cursor: pointer;
    padding: 10px;
    line-height: 16px;
    font-size: 16px;
    z-index: 10000;
}


.centered {
    align-self: center;
}

#app {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow-x: hidden;
}