
.app-wrapper {
    --main-blue: #718DFF;
    --light-blue: #adbeff;
    --dark-blue: #29335c;
    --alert: #CC2936;
    --dark-error: rgba(139, 0, 0);
    --light-grey: #E4E4E4;
    --surface-grey: #eeeeee;
    --tag-color: #827ACD; /* #9EC5AB; */
    --dark-black: #000; /* #9EC5AB; */
    --app-white: white; /* #9EC5AB; */
    --toast-color: #67b2bb; /* #9EC5AB; */
    --warn-color: #FC9E4F;; /* #9EC5AB; */
    --success: #51a351;; /* #9EC5AB; */
    --reload: #24d724;
    --dark-gray: #b8b8b8;
    --search-tab-hover: #476CFF;
    --dark-blue: #19297c;
    --base-font-size: 16px;
    --larger-base-font-size: 19px;
    --huge-base-font-size: 22px;
    --small-font-size: 13px;
    --heading-font-size: 25px;
    --large-heading-font-size: 30px;
    --small-border-radius: 3px;
    --large-border-radius: 5px;
    --thin-border-color: #d5d5d5;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.5rem;
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--main-blue);
    font-size: var(--base-font-size);
    font-weight: bold;
    color: white;
    box-shadow: 3px 3px 4px rgb(0 0 0 / 25%);
    padding: 7px;
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    white-space: nowrap;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

.main-button span {
    white-space: nowrap;
}

.main-button img, .image-only-button img {
    width: 22px;
    height: 22px;
    box-sizing: border-box;
}

.main-button:not(:disabled):active, .image-only-button:not(:disabled):active {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.main-button:not(:disabled):hover, .image-only-button:not(:disabled):hover {
    background-color: var(--dark-blue);
}

.main-button:disabled,
.main-button[disabled] {
    opacity: 0.6;
    box-shadow: none;
    cursor: not-allowed;
}

.main-button.delete {
    background-color: var(--dark-error);
}

.main-button.delete:not(:disabled):hover {
    background-color: var(--alert);
}

.main-button.reload {
    background-color: var(--success);
}

.main-button.reload:not(:disabled):hover {
    background-color: var(--reload);

}

.main-button.small {
    font-size: var(--base-font-size);
    padding: 6px;
}

.main-button.small img {
    width: 18px !important;
    height: 18px !important;
}

.main-button.tiny {
    font-size: var(--small-font-size);
    padding: 4px;
}

.save-icon {
    width: 70px;
    height: 45px;
    margin-bottom: 2px;
}

.main-button.tiny img {
    width: 13px !important;
    height: 13px !important;
}


.image-only-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--main-blue);
    box-shadow: 3px 3px 4px rgb(0 0 0 / 25%);
    padding: 5px;
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
}

.transparent-btn {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: var(--small-border-radius);
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    padding: 5px;
}

.transparent-btn:not(:disabled):hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.transparent-btn img {
    width: 20px;
}


h1, h2, h3, .h1, .h2, .h3 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, .h1 {
    font-size: var(--heading-font-size);
    line-height: var(--heading-font-size);
}

h2, .h2 {
    font-size: var(--huge-base-font-size);
    line-height: var(--huge-base-font-size);
}

h3, .h3 {
    font-size: var(--larger-base-font-size);
    line-height: var(--larger-base-font-size);
}

.login-overlay {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.5);
    display: flex;;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--light-blue);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.edit-document-body .ck.ck-editor__main > .ck-editor__editable {
    min-height: 500px;
}

.ck.ck-editor {
    width: 100%;
}

.edit-document-body .ck.ck-toolbar {
    display: flex;
    width: 100%;
}


.body-error .tox-sidebar-wrap {
    border: 2px solid var(--dark-error) !important;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #718dff #ffffff;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: var(--large-border-radius);
    border: 3px solid #ffffff;
}


.main-text-input {
    background-color: white;
    font-size: var(--base-font-size);
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 7px;
    display: flex;
    border: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    border-bottom: #adbeff 2px solid;
    border-radius: var(--large-border-radius);
}

.hidden {
    display: none !important;
}

/* tags stuff */
.selected-tag {
    border: none;
    border-radius: var(--small-border-radius);
    background-color: var(--tag-color);
    font-size: var(--base-font-size);
    padding: 0 5px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 4px;
    cursor: default;
    color: var(--app-white);
}

.selected-tag .close-cross {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    appearance: none;
    background-color: transparent;
    border-radius: var(--large-border-radius);
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.selected-tag .close-cross img {
    width: 8px;
    height: 8px;
}

.close-cross.disabled-remove {
    opacity: 0.6;
}

.selected-tag .close-cross:not(.disabled-remove):hover {
    background-color: var(--light-grey);
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
}


.selectable-tags {
    border-top: 2px solid var(--thin-border-color);
    max-height: 400px;
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 50px;
    width: 100%;
}

.selectable-tag {
    text-align: left;
    border: none;
    background-color: var(--tag-color);
    padding: 6px 10px 6px 10px;
    border-radius: var(--small-border-radius);
    margin: 3px;
    font-size: var(--small-font-size);
    cursor: pointer;
    color: var(--app-white);
}

.selectable-tag:disabled {
    opacity: 0.6;
}

.small-user-icon {
    width: 22px;
    height: 22px;
    border-radius: 50%;
}

.tiny-user-icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.ck-editor-scroll-container.disabled .tox .tox-editor-header {
    display: none !important;
}

.ck-editor-scroll-container.disabled .tox .tox-edit-area__iframe {
    background-color: transparent !important;
}

.ck-editor-scroll-container.disabled .tox-tinymce {
    border: none;
}


.revision-editor-scroll-container .tox .tox-edit-area__iframe {
    background-color: transparent !important;
}

.revision-editor-scroll-container .tox-tinymce {
    border: none;
}
